html body{
    background-color: #151616;
    font-family: Montserrat;
    color: #fff;
}
.container{
    width: 100%;
}
.main-logo{
    margin-top: 3px;
}
.nav-bar-logo{
    width: 75px;
    height: 51px;
    padding: 3px 12px;
}
.nav-bar-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.nav-bar-nav{
    position: absolute;
    flex-direction: column;
    top: 72px;
    display: none;
    background-color: #ED1260;
    z-index: 10;
}
.nav-bar-button {
    height: 100%;
    padding: 24px 26px;
    position: relative;
}
.nav-bar-button-line{
    width: 25px;
    height: 2px;
    background: orange;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}
.nav-bar-item{
    border-bottom: solid 1px orange;
    margin: 10px 0;
}
.nav-bar-nav-link {
    display: inline-block;
    text-align: center;
    width:100%;
    box-sizing: border-box;
    padding: 4px 4px;
    text-decoration: none;
    color: #fff;
}
.main-content{
    content: "";
    display: flex;
    flex-direction: column;
    background-image: url("../img/375 bckg.png");
    background-size: cover;
    height: 460px;
}
.black{
    display: flex;
    margin-left: 12px;
    margin-top: 40px;
    background-color: #000;
    width: 68.53%;
    height: 110.82px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
}
.web{
    display: flex;
    margin-top: 14.18px;
    margin-left: 75px;
    width: 36.68%;
    height: 36.03px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.pink-square{
    display: flex;
    width: 265.9px;
    height: 64.56px;
    background-color: #ED1260;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
.gym-info{
    width: 265px;
    height: 80px;
    margin-top: 37.94px;
    margin-left: 58px;
    margin-bottom: 68px;
    font-size: 16px;
}
.for-pink-logos-tex{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 31px;
    align-items: center;
    margin-left: 26px;
    margin-right: 36px;
}
.each-logo-text{
    width: 50%;
    margin-bottom: 25px;
}
.text-decoration{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 17px 10px 20px;
}
.for-map{
    width: 346px;
    height: 177px;
    border: 5px solid #ED1260;
    margin: 0 auto;
}
.map-img{
    width: 314px;
    height: 128px;
    margin: 15px 15px 12px 15px;
    position: relative;
}
.placeholder{
    position: absolute;
    left: 50%;
    top: 212%
}
.map-text{
    font-size: 12px;
    text-align: center;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    border: 5px solid #F38A03;
    box-sizing: border-box;
    margin-top: 63px;
}
.contacts{
    text-align: center;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 21px;
}
.contacts-options{
    margin: 0 auto;
    font-size: 18px;
}
.mail{
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
.contacts-logo{
    margin-right: 25px;
}
.advanced-options{
    display: none;
}


@media (min-width: 1200px) {
    .main-logo{
        width: 89px;
        height: 61px;
        margin-top: 9px;
        margin-left: 58px;
    }
    .nav-bar-row{
        align-items: center;
        margin-bottom: 16px;
    }
    .nav-bar-button{
        display: none;
    }
    .nav-bar-nav{
        display: flex;
        position: unset;
        flex-direction: row;
        background-color: #151616;
        margin-top: 28px;
        font-size: 20px;
        line-height: 24px;
    }
    .nav-bar-item{
        border-bottom: none;
        margin-right: 90px;
    }
    .main-content{
        content: "";
        background-image: url("../img/1200 bckg.png");
        background-size: cover;
        width: 957px;
        height: 513px;
        margin-left: 60px;
    }
    .black{
        width: 327px;
        height: 141px;
        margin-left: 44px;
        margin-top: 80px;
    }
    .web{
        width: 200px;
        height: 55px;
        margin-top: 19px;
        margin-left: 115px;
    }
    .pink-square{
        width: 107px;
        height: 347px;
        position: absolute;
        margin-top: -513px;
        margin-left: 1011px;
    }
    .gym-info{
        width: 932px;
        height: 60px;
        font-size: 25px;
        line-height: 30px;
        margin-left: 95px;
    }
    .for-pink-logos-tex{
        display: flex;
        flex-wrap: wrap;
        margin: 56px 167px 99px 200px;
    }
    .each-logo-text{
        width: 33.3%;
    }
    .text-decoration{
        margin-top: 14px;
        font-size: 17px;
        margin-left: 10px;
    }
    .for-map{
        width: 579px;
        height: 296px;
        margin: 0 auto;
    }
    .map-img{
        width: 525px;
        height: 212px;
        margin: 27px 27px 12px 27px;
    }
    .placeholder{
        margin-left: 7px;
        margin-top: -226px;
    }
    .map-text{
        font-size: 22px;
        line-height: 27px;
    }
    .contacts-container{
        border: none;
        margin-top: 96px;
    }
    .contacts{
        text-align: left;
        font-size: 45px;
        line-height: 55px;
        margin-top: 0;
        margin-bottom: 81px;
        margin-left: 194px;
    }
    .contacts-options{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: unset;
    }
    .mail{
        flex-direction: column;
    }
    .contacts-logo{
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .advanced-options{
        font-size: 25px;
        line-height: 30px;
        display: flex;
        margin-top: 36px;
    }
    .contacts-option2{
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-top: 8px;

    }
}